snippet html:ng
	<!DOCTYPE html>
	<html ng-app="MyApp">
	<head>
	<title>My Angular App</title>
	</head>
	<body>

	<div ng-view></div>

	<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.4/angular.js"></script>
	<script type="text/javascript">
	</script>
	</body>
	</html>

snippet html:5
	<!DOCTYPE html>
	<html>
	<head>
	<title>HTML5</title>
	</head>
	<body>

	</body>
	</html>
